:root {
    --content-color: #fcf7ef;
    --background-color: #5A3A31;
    --dark-color: #31231E;
    --secondary-color: #84714F;
    --button-color: rgb(247, 237, 226);
    --view-color: #f1c89a;
    --header-color: #5A3A31;

    --single-view-toggle: calc(240px + 12vw);
    /* --single-view-toggle: 50px; */
    font-size: 16px;

}

body {

    /* Default CSS */
    padding: 0;
    margin: 0;

    height: 100vh;

    background-color: var(--background-color);

    /* grid */
    display: flex;
    flex-direction: column
}




/* H E A D E R */

.header {
    background-color: var(--header-color);

    box-sizing: border-box;
    height: 10vh;
    padding: 20px 120px 20px 120px;

    /* flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {

    /* font */
    font-family: "ADLaM Display";
    color: white;
    font-size: 3rem;

}

.newBook {

    /* font */
    font-family: "Nunito";
    color: var(--header-color);
    font-size: 1.4rem;
    font-weight: 700;

    /* Dimensions */
    height: 5vh;
    width: 250px;
    overflow: hidden;

    /* Appearance */
    background-color: var(--button-color);
    border-style: none;
}




/* M A I N   C O N T E N T */

.contents {

    background-color: var(--content-color);

    /* Dimensions */
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;


    /* flex & grid*/
    flex: 1;
    display: grid;
    grid-template-columns: 1fr var(--single-view-toggle);
    gap: 5px;
}

.multiBooksView,
.singleBookView {

    font-family: "Nunito";

    /* Rounding the borders */
    border-radius: 10px;

    /* Background Color */
    background-color: var(--view-color);

}

.viewTitle {
    /* Font Properties */
    font-size: 2rem;
    font-weight: 700;
    color: var(--header-color);

    text-align: center;
}



/* Multiple Books View */

.multiBooksView {

    box-sizing: border-box;
    overflow: hidden;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* View Header */

.mbvHeader {
    padding: 20px;
    width: 95%;

    /* flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


form.bookSearch {
    background-color: #7d5e5634;


    /* Dimensions */
    box-sizing: border-box;
    padding: 5px;
    border-radius: 2.5vh;
    height: 5vh;

    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookSearch button[Type="submit"] {

    background: none;

    /* Dimensions */
    height: 2vw;
    width: 2vw;
    border-style: none;
    border-radius: 1vw;
}

button[Type="submit"] i {

    color: var(--header-color);
    opacity: 1;
    font-size: 1.2rem;
}

.bookSearch input[Type="text"] {

    border: none;
    /* background: none; */

    /* Dimensions */
    margin: 10px 5px 10px 10px;
    height: 1.2vw;
    width: 12vw;
}

/* Bookshelf */

.bookshelf {

    width: 80%;
    height: 80%;
    padding: 30px;
    box-sizing: border-box;



    /* Grid */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, 20vh);
    align-items: center;
    grid-auto-flow: column;
    gap: 40px;
    column-gap: 80px;

    /* Scrollbar */
    overflow-x: auto;
}

.bookshelf::-webkit-scrollbar {
    height: 10px;
}

.bookshelf::-webkit-scrollbar-track {
    background: none;

}

.bookshelf::-webkit-scrollbar-thumb {
    background-color: var(--dark-color);
    border-radius: 20px;
    border: 0px solid rgba(255, 166, 0, 0);
}

.bookshelf::before {
    background-image: linear-gradient(to right, var(--view-color), rgb(0, 0, 0), var(--view-color));
}

.bookCard {
    background-color: white;


    /* flex */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardImg {

    height: 20vh;
    width: 20vh;

    background-color: black;
}

.cardTitle {
    margin-top: 5px;
}

.filler {
    width: 20vh;
    height: 20vh;
}



/* Single Book View */

.singleBookView {
    box-sizing: border-box;
    padding: 20px;

    /* Grid */
    display: grid;
    grid-template-rows: 60px 300px 3cm;
    justify-items: center;
    

}

.viewTitle {
    box-sizing: border-box;
}

.bookCover {

    background-color: white;


    /* Dimensions */
    width: 30vh;
    height: 30vh;
}

.coverEdit{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.coverEdit i {
    font-size: 50px;
    color: gray;
}

.coverEdit:hover{
    background-color: rgba(0, 0, 0, 0.112);
    cursor:grab;
}

form.addBook{
    width: 100%;

    /* grid */
    display: grid;
    grid-template-rows: repeat(4 , 5vh);
    gap: 5px;
    justify-items: center;
}

form.addBook div{
    width: 80%;
    font-size: 1.3rem;

    /* flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* F O O T E R */

.footer {
    background-color: var(--header-color);

    box-sizing: border-box;
    height: 7vh;
}